# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Model files
*.pth
*.h5
*.ckpt

# Dataset folders
data/
datasets/
images/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db